html, body {
    margin: 0;
    min-height: 100%;
    overflow: auto;
  scroll-behavior:smooth
}
body {
  height:  -webkit-fill-available;
  background-color: #000;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  
}

.Content {

  margin: 50px;
}
.Page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Home {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.aboutMe {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}

.name {

  justify-content: flex-start;
  font-weight: bolder;
  font-size: 60px;

}

.info {
  font-size: 18px;
  font-weight: lighter;
  line-height: 40px;
}

.myImage {

  height: 50vh;
  width: auto;

  background-color: none;
}

.bobona {
}

.topnav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #000;

  
  position: fixed;
  padding-top: 10px;
  width: calc(100% - 100px);
  margin-left: 50px;
}

.topnav .topnav-items {
  align-items: center;
}

.topnav-items img {
  height: 24px;
  width: auto;
  margin-left: 20px;
}

.topnav-buttons {
  background-color: none;
  display: flex;
  justify-content: flex-end;
}

.topnav-buttons a {
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 10px;
  margin: 0px 10px;

}

.topnav-buttons a:hover {
  background-color: #fff;
  color: black;
}
.Work {
  text-align: center;
  background-color: #000;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  min-height: 100vh;
  min-width: 100vw;
}


.Work-header {
  font-size: calc(2vw + 2vh + 2vmin);
  min-width: 100vw;
  padding-bottom: 100px;
  justify-content: center;
}

.Work-cellsTable {

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.Work-cellsRowContainer {

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}


.Work-workCell {
  
  max-height: 30vh;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;


  padding: 40px 0px;
}

.Work-cellContent {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30vw;

  padding: 0px 10px;

}

.Work-cellTitleContainer {

  display: flex;
  font-size: 24px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;

}

.Work-cellDescription {
  font-size: 16px;
  text-align: start;
  word-break: break-all;
  width: 100%;
  height: 200px;
  padding-top: 30px;

  overflow-y: scroll;
}

.Work-imageLink {
  height: 24px;
  width: auto;
}

.Work-imageWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.Work-cellImage {
  max-height: 100%;
  max-width: auto;
  border-radius: 10px;
  background: none;
}

.Work-itemButton {

  height: 24px;
  width: auto;
  padding-right: 10px;

  color: none;
  border: none;

  background: none;

  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
