@media screen and (max-width: 769px) {
	
.WorkDetail {
	background-color: rgba(0, 0, 0, 0.8);

	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	z-index: 999;
	position: fixed;
	padding-top: 10px;

	display: none;
	justify-content: center; 
	align-items: flex-start; 

    overflow: auto;
    scroll-behavior:smooth;
}

.WorkDetail-Content {
	width: 80%;
	height: auto;
	border-radius: 10px;
	background-color: #1A1A1A;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	padding:  10px;

}

.WorkDetail-Content-Absolute {
	width: 80%;
	height: 70%;
	border-radius: 10px;
	background-color: none;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-end;
	margin-bottom: 0px;
	margin-right: 0px;

}

.WorkDetail-Container {

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	width: 100%;

}

.WorkDetail-Close {

	padding-bottom: -10px;
	max-width: 24px;
	max-height: 24px;

	top: 0;
	left: 0;
	width: 80%;
	height: 70%;

	display: none;

}

.WorkDetail-Close img {

	width: 100%;
	height: 100%;
  	cursor: pointer;
}

.WorkDetail-Text {
	padding-left: 0px; 
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	z-index: 1000;
}

.WorkDetail-Title {
	font-size: 24px;
}

.WorkDetail-Links {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;

	margin-top: 10px;
	width: 100%;
}

.WorkDetail-Call {
	font-size: 14px;
	font-weight: bold;
	padding-right: 20px; 
}

.WorkDetail-ImageLink {
	width: 16px;
	height: 16px;
	padding-right: 20px; 
}

.WorkDetail-ImageLink img {
	width: 100%;
	height: 100%;
  	cursor: pointer;
}

.WorkDetail-Seprator {
	max-width: 70%;
	height: 1px;
	margin-top: 20px;
	background-color: #E0E0E0;
}

.WorkDetail-Description {
	max-width: 90%;
	font-size: 14px;
}

.WorkDetail-Caroussel {
	display: none;
}

.WorkDetail-CloseText{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 20px;

	cursor: pointer;
  	text-decoration: underline;
}

}